.player{
   min-height: 110%;
  min-width: 100%;
    padding-bottom: 70px;
    margin-top: 90px;
    background: #4CA1AF; 
  /* fallback for old browsers */
  background: linear-gradient(0deg, rgba(255, 51, 51, 0.15), rgba(153, 255, 51, 0)) no-repeat border-box, linear-gradient(90deg, rgba(0, 255, 255, 0.1), rgba(0, 0, 0, 0.35)) no-repeat border-box, #acd2b326;
}

.sc-player {
  margin-bottom: 120px;
  position: relative;
}
.sc-player a {
  color: #fff;
    font-size: 18px;
       line-height: 10px;
}
.sc-player .sc-artwork-list,
.sc-player .sc-info-toggle,
.sc-player .sc-trackslist,
.sc-player .sc-time-indicators {
  display: none;
}
.sc-player .sc-waveform-container {
  height: 24px;
}
.sc-player .sc-time-span {
  position: relative;
  height: 24px;
  background-color: #000;
}
.sc-player .sc-time-span .sc-played {
  position: absolute;
  width: 0%;
  top: 0;
  height: 24px;
  background-color: #FFF;
  display: block;
  transition: 0.25s;
}
.sc-player .sc-time-span img {
  width: 100%;
  height: 24px;
  visibility: hidden;
  position: relative;
}
.sc-player .sc-time-span .sc-buffer {
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  width: 0;
  background-color: #1a1a1a;
  transition: 0.25s;
}
.sc-player .sc-info {
  mix-blend-mode: multiply;
  position: absolute;
  margin-top: 45%;
  top: 34px;
}
.sc-player .sc-info h3 {
  text-transform: uppercase;
 line-height: 22px;
}
.sc-player .sc-info .sc-info-close {
  display: none;
}
.sc-player .sc-info p {
  display: none;
}
.sc-player .sc-controls .sc-play,
.sc-player .sc-controls .sc-pause {
  color: transparent;
  width: 45%;
  padding-bottom: 45%;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}
.sc-player .sc-controls .sc-play {
  background-image: url("http://92.243.12.140/orchestrepelleas.com/v1/dyn_img/cms/d7d1bc29f0f8a74872295b219f4cf10d.svg");
}
.sc-player .sc-controls .sc-pause {
  background-image: url("http://92.243.12.140/orchestrepelleas.com/v1/dyn_img/cms/98fddf3d95fa97e68b05c375c6d2e7ee.svg");
  display: none;
}
.sc-player.playing .sc-play {
  display: none;
}
.sc-player.playing .sc-pause {
  display: block !important;
}
.sc-player.playing .sc-played {
  min-width: 1px;
}

.container2 {
    position: relative;
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text2 {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
