.button-reg{
    display: inline;
}

.form-container {
  opacity: 1;
}

.loginForm{
    margin-top: 3rem;
}

.contactUs {
    float: right;
}

.imagelogo {
    width: 5rem;
    height: 5rem;
    display: block;
    margin: 0 auto;
    margin-top: -3rem;
}

.resetText {
    font-weight: bold;
    color: black;
}

.hidden {
    display: none;
}

.red {
    color: red;
}
