.button-reg{
    display: inline;
}

.form-container {
    form {
        margin-top: 1rem;
    }
}

.loginForm{
    margin-top: 3rem;
}

.contactUs {
    float: right;
}

.imagelogo {
    width: 5rem;
    height: 5rem;
    display: block;
    margin: 0 auto;
    margin-top: -3rem;
}
