<div class="form-container">

    <a routerLink="/signup" id="goback">Register</a>
    <a href="mailto:klang.heimlich.zh@gmail.com" target="_top" id="goback" class="contactUs" >Kontakt</a>

    <br />

    <img class="imagelogo" src="../assets/images/logo.svg" />

    <img src="../assets/images/login_text.png" />

    <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

    <form #formData='ngForm' class="loginForm" (ngSubmit)="onSubmit(formData)">

      <input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt" required>
      <input type="password" placeholder="passwort" (ngModel)="password" name="password" class="txt" required>

      <button type="submit" [disabled]="!formData.valid" class="basic-btn">Log in</button>
  </form>
</div>
