<div class="signup-wrapper">
    <div class="form-container">

      <a routerLink="/login-email" id="goback">Login</a>
      <a href="mailto:klang-heimlich@lid.li" target="_top" id="goback" class="contactUs" >Contact us</a>

      <br />
      <br />

      <img src="../assets/images/register_text.jpg" />

      <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

      <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

        <input type="text" placeholder="code" (ngModel)="code" name="code" class="txt form-control text-line {{css_class}}" (focus)="focusFunction()" required>
        <input type="text" placeholder="vorname" (ngModel)="vorname" name="vorname" class="txt form-control text-line" required>
        <input type="text" placeholder="nachname" (ngModel)="nachname" name="nachname" class="txt form-control text-line" required>
        <input type="text" placeholder="e-mail" (ngModel)="email" name="email" class="txt form-control text-line" required>
        <input type="password" placeholder="Password" (ngModel)="password" name="password" class="txt form-control text-line" required>
        <input type="password" placeholder="Retype Password" (ngModel)="password2" name="password2" class="txt form-control text-line" required>

        <input type="checkbox" [checked]="agreeConditions" (change)="agreeConditions = !agreeConditions" />
        Agree with <a routerLink="/terms"> terms </a>


        <button type="submit" class="basic-btn">Send</button>
      </form>

    </div>
</div>
