.signup-wrapper {
    background-repeat:no-repeat;
    /*background-size:contain;*/
    background-position:center;
    height: 56rem;
    width: 100%;
    position: fixed;
    overflow-y: scroll;
}

.contactUs {
    float: right;
}

.red {
    border: 2px solid red;
}

.hidden{
    display: none;
}

.imagelogo {
    width: 5rem;
    height: 5rem;
    display: block;
    margin: 0 auto;
    margin-top: -3rem;
}

.termsLink {
    margin-top: 0.6rem;
    margin-left: 0.6rem;
    position: absolute;
}
