.signup-wrapper {
    background-image: url('../../assets/images/background_register.jpg');
    background-repeat:no-repeat;
    /*background-size:contain;*/
    background-position:center;

    height: 56rem;
    width: 100%;
    position: fixed;
    overflow-y: scroll;
}

.contactUs {
    float: right;
}

.red {
    border: 2px solid red;
}

.hidden{
    display: none;
}

form {
    margin-top: 4rem;
}

.form-container {
    height: 40rem;
}
