.signup-wrapper {
    background-repeat:no-repeat;
    /*background-size:contain;*/
    background-position:center;
    height: 56rem;
    width: 100%;
    position: fixed;
    overflow-y: scroll;
}

.contactUs {
    float: right;
}

.red {
    border: 2px solid red;
}

.hidden{
    display: none;
}

.container-gallerie {
  margin-top: -16rem;
}

.weare {
  width: 80%;
  margin: auto;
}

.abg-checkbox {
  margin-top: -3rem;
  margin-bottom: 4rem;
  margin-left: -8rem;
}
.imagelogo {
    width: 5rem;
    height: 5rem;
    display: block;
    margin: 0 auto;
    margin-top: -3rem;
}

.termsLink {
    margin-top: 0.6rem;
    margin-left: 0.6rem;
    position: absolute;
    color: white;
    font-weight: 500;
}

.loginForm input,
.registerForm input {
    font-size: 1em;
}

.loginForm .txt {
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    font-size: 2rem;
    padding: 2rem;
}


.loginForm .row {
    margin: auto;
}

.registerForm .txt {
    margin: auto;
    font-size: 2rem;
    padding: 2rem;
    width: 70%;
    margin-top: 1rem;
}

.registerForm .row {
    margin: auto;
}

.logo-header-svg {
    margin-top: -330px;
    height: 442px;
    margin-left: -50px;
}

.image-logo {
    width: 70%;
    margin-top: -15rem;
}

.party-element p {
  font-size: 1.8rem;
}

.party-element img {
  margin-top: 15rem;
}

.party-element.box {
  margin-top: 1rem;
}

.videos-container .col-xs-6 {
  width: 100%;
}
.videos-container .row {
  text-align: center;
  margin: auto;
}

#tickets .row {
  margin: -73px 0 0px 44px;
}

.resetLink {
    color: white;
    margin-left: 23rem;
    text-decoration: underline;
}

/* DivTable.com */
.divTable{
  display: table;
  width: 65%;
  margin: auto;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	display: table-cell;
	padding: 10px 18px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
  background-color: rgba(0, 0, 0, 0.5);
}

.divTable .img-artist {
  width: 12rem;
  height: auto;
}


/* DivTable.com */
.divTable2{
  display: table;
  width: 120%;
  margin: auto;
}
.divTableRow2 {
	display: table-row;
}
.divTableHeading2 {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell2, .divTableHead2 {
	display: table-cell;
	padding: 10px 18px;
    font-size: 1.5rem;
}
.divTableCell2 h2 {
    text-align: left;
    margin: 0;
    margin-top: -74px;
    position: absolute;
}
.divTableHeading2 {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot2 {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody2 {
	display: table-row-group;
  background-color: rgba(0, 0, 0, 0.5);
}

.divTable2 .img-artist {
  width: 250rem;
  height: auto;
}





.img-element{
  width: 50rem;
  height: auto;
}
