<div class="members-wrapper">


  <div class="form-container" id="toolbar">


      <header [@fallIn]="state">
          <img class="imagelogo" src="../assets/images/logo.svg" />
          <button (click)="logout()" class="basic-btn">Logout</button>
      </header>


      <div id="page" [@moveInLeft]="state">

        <div class="container">
          <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#info">
                    <img class="imagemenu" src="../assets/images/info_label.png" />
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#tickets">
                    <img class="imagemenu" src="../assets/images/tickets_label.png" />
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#contact">
                    <img class="imagemenu" src="../assets/images/contact_label.png" />
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#hall">
                    <img class="imagemenu" src="../assets/images/hall_label.png" />
                </a>
            </li>
            <!-- <li><a data-toggle="tab" href="#menu3">Menu 3</a></li> -->
          </ul>

          <div class="tab-content">
            <div id="info" class="tab-pane fade in active">
              <h3></h3>
              <p>Schön, dass Du den Weg hierher gefunden hast. Dani, Phil, Marc und Tom haben sich mit Klang-Heimlich zum Ziel gesetzt, einzigartige Events zu schaffen.
                Events, auf welchen neue Freundschaften geschlossen werden, getanzt, gelacht, gelebt wird. Events, bei welchen die Musik und die Location im Mittelpunkt stehen und einzigartig sind. Events, die in Sachen Dekoration und Verspieltheit herausstechen. Events, bei denen Erinnerungen nicht nur bis zum nächsten Wochenende reichen, sondern weit darüber hinaus. Events, welche musikalisch durch ausgesuchte Lokale und Internationale DJ’s Balsam für die Ohren sind.</p>
                <p> Wir freuen uns Dich mit dieser Plattform auf unsere nächsten Klang-Heimlich Events aufmerksam zu machen und Dich bald bei uns begrüssen zu dürfen.</p>

                <b>LINE-UP:</b> <br />

                ♫ DAVID DORAD (Bar25 Berlin)  <br />
                ♫ ALEJANDRO MOSSO *LIVE*<br />
                ♫ POWEL<br />
                ♫ BERNSTEIN *LIVE*<br />
                ♫ Dani Posada<br />
                ♫ Dani Nydegger<br />
                ♫ Don Ramon<br />
                ♫ Juen & Bach<br />
                ♫ Matija<br />
                ♫ Nicolike<br />
                ♫ Playlove<br />
                ♫ QEBEQ<br />
                ♫ Rumlaut<br />
                ♫ Temo Sayin<br />
                ♫ Tom Hängs<br />
                ♫ Trinidad<br />
                ♫ Valentin Bösch<br />
                ♫ mehr tba soon & surprise guests<br />

                <div class="responsive">
                  <div class="gallery">
                    <a target="_blank" href="../assets/images/gallery/image01.jpg">
                      <img src="../assets/images/gallery/image01.jpg" alt="Image KH" width="300" height="200">
                    </a>
                  </div>
                </div>

                <div class="responsive">
                  <div class="gallery">
                    <a target="_blank" href="../assets/images/gallery/image02.jpg">
                      <img src="../assets/images/gallery/image02.jpg" alt="Image KH" width="300" height="200">
                    </a>
                  </div>
                </div>

                <div class="responsive">
                  <div class="gallery">
                    <a target="_blank" href="../assets/images/gallery/image03.jpg">
                      <img src="../assets/images/gallery/image03.jpg" alt="Image KH" width="300" height="200">
                    </a>
                  </div>
                </div>

                <div class="responsive">
                  <div class="gallery">
                    <a target="_blank" href="../assets/images/gallery/image04.jpg">
                      <img src="../assets/images/gallery/image04.jpg" alt="Image KH" width="300" height="200">
                    </a>
                  </div>
                </div>

                <div class="responsive">
                  <div class="gallery">
                    <a target="_blank" href="../assets/images/gallery/image05.jpg">
                      <img src="../assets/images/gallery/image05.jpg" alt="Image KH" width="300" height="200">
                    </a>
                  </div>
                </div>

                <div class="responsive">
                  <div class="gallery">
                    <a target="_blank" href="../assets/images/gallery/image06.jpg">
                      <img src="../assets/images/gallery/image06.jpg" alt="Image KH" width="300" height="200">
                    </a>
                  </div>
                </div>

                <div class="responsive">
                  <div class="gallery">
                    <a target="_blank" href="../assets/images/gallery/image07.jpg">
                      <img src="../assets/images/gallery/image07.jpg" alt="Image KH" width="300" height="200">
                    </a>
                  </div>
                </div>

                <div class="responsive">
                  <div class="gallery">
                    <a target="_blank" href="../assets/images/gallery/image08.jpg">
                      <img src="../assets/images/gallery/image08.jpg" alt="Image KH" width="300" height="200">
                    </a>
                  </div>
                </div>


                <div class="clearfix"></div>


            </div>
            <div id="tickets" class="tab-pane fade">

              <!--
              <h3>Tickets</h3>
              <div>
                  <script src="http://embed.ticketfrog.ch/api/safari-cookie-fix.js"></script>
                  <iframe width="650" class="iframeTickets" height="2000" src="https://embed.ticketfrog.ch/de/p/party/house-techno/silvesterzauber-1510026170968001220.html?color=95C11F&infobox=1&description=1&location=1&organisator=1&sponsors=1"></iframe>
              </div>
                -->

              
              <a style="font-size:1.8rem" target="_blank" href="https://ticketfrog.ch/de/p/party/house-techno/silvesterzauber-1510026170968001220.html">
                  Tickets hier kaufen
              </a>


            </div>
            <div id="contact" class="tab-pane fade">
              <h3>Contact</h3>

              <!-- www.123contactform.com script begins here -->
              <iframe allowTransparency="true" style="min-height:450px; height:inherit; overflow:auto;" width="100%" id="contactform123" name="contactform123" marginwidth="0" marginheight="0" frameborder="0" src="https://www.123contactform.com/my-contact-form-3132274.html">
                  <p>Your browser does not support iframes. Please use try from a desktop browser. </p>
              </iframe>

              <br />
              <a href="mailto:klang.heimlich.zh@gmail.com" target="_top" class="contactUs" >oder schreib uns eine E-Mail</a>


            </div>
            <div id="hall" class="tab-pane fade">
              <h3>Hall of fame</h3>





            </div>
          </div>
        </div>



      </div>

  </div>
</div>
