.members-wrapper {
    background-image: url("../../assets/images/background.jpg");
    height: 500vw;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}



#toolbar {
    padding:0;
    width:70%;
    margin-left:-30%;
}

header {
    background:#3B8598;
    width:100%;
    top: 0;
    left: 0;
    position: relative;
}

.basic-btn {
    width:100px;
    margin:0;
}

#page {
    padding:3em;
    margin:0;
}

#page img {
    margin-top:3rem;
}

h2 {
    margin:0;
}

.container {
    width: 100%;
    padding-left: 0px;
}

.container ul {
    margin-left: 0rem;
}

.nav-tabs {
    border-bottom: 0.2rem solid white;
}

.form-container {
    background: transparent;
    padding:3.5em;
    width:500px;
    position:fixed;
    left:50%;
    margin-left:-250px;
}

.nav-tabs {
    border-bottom: 0;
}

.nav-tabs>li>a {
    padding: 0;
    margin-right: 0;
    border: 0px solid #ddd;
}

li.active {
    border-bottom: 4px solid #000;
}

.nav>li>a>img {
    max-width: none;
    margin-top: 0 !important;
    cursor: pointer;
}

.nav li a img {
    height: 50px;
}

.tab-content{
    margin-top: 2em;
}


@media (max-width: 600px) {
    #page {
        padding:1em;
    }
    #toolbar {
        width:90%;
        margin-left: -45%;
    }

    .nav-tabs {
        margin-top: 30px;
    }
    .nav li a img {
        height: 25px;
    }
}


@media (max-width: 847px) {
    .nav li a img {
        height: 25px;
    }
}
