#header {
  padding: 0.2em 0 0em 0;
}

#header header{
  padding: 0;
}

.row {
  padding: 0;
}

.logo-header-svg{
  margin-bottom: -30rem;
}


.iframeTickets{
  width: 100rem;
}

.btn-logout{
  padding: 0;
  width: 10%;
  font-size: 2.8rem;
  margin-bottom: 0;
}
